.input-name {
    height: 30px;
    width: 92%;
    margin-bottom: 15px;
}

.input-number {
    height: 30px;
    width: 92%;
    margin-bottom: 15px;
}

.btn-submit {
    height: 35px;
    width: 100%;
    align-items: center;
}

.btn-cancel {
    width: 100%;
    height: 35px;
}

